html, body, .gallery{
    height: 100%;
    font-family: "Vollkorn";
}

nav{
    height: 60px;
    background: #3498db;
    position: fixed;    
    width: 100%;
    z-index: 1;
}

nav p{
    margin: 0;
    text-align: left;
    color: white;
    font-size: 23px;
    line-height: 60px;
    padding-left: 20px;
    float: left;
}

nav a{
    float: right;
    line-height: 60px;
    margin-right: 20px;
    color: #fff;
}


.filter{
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.filter p{
    text-align: center;
    color: #333;
    margin-top: 0;
}

.filter .title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

.clear{
    color: #3498db;
    text-decoration: none;
    font-style: italic;
}

.clear:hover{
    text-decoration: underline;
}

.clear:active{
    color: #2980b9;
}



.tags{
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

.tag{
    padding: 7px 12px;
    margin: 7px 10px;
    background: #f0f0f0;
    display: inline-block;
    text-decoration: none;
    color: #3498db;
    color: #aaa;
    border-radius: 3px;

    font-size: 15px;
}

.tag:hover{
    background: #f7f7f7;
}

.tag:active, .tag:focus{
    box-shadow: 0 2px 3px 0 #aaa inset;
    outline: none;
}

.tag.selected:active, .tag.selected:focus{
    box-shadow: 0 2px 3px 0 #000 inset;
    outline: none;
}

.tag.selected{
    background: #34495e;
    color: #ffffff;
}

.gallery{
    padding-top: 60px;

}

.notebooks{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.notebook{
    width: 350px;
    margin: 15px;
    /*height: 350px;*/
    background: #f0f0f0;
    /*border: solid 1px #ccc;*/
    text-decoration: none;

    /*border-radius: 0 0 5px 5px;*/
    opacity: 1;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;

}

.notebook img{
    width: 330px;
    padding: 10px;
    display: block;
}

.notebook:hover{
    opacity: 1;
}

.info-wrap{
    color: #fff;
    background: #61a7d6;

    font-size: 18px;
    font-weight: bold;

    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    padding: 5px;

    text-align: left;

}

p.name{
    padding: 0;
    margin: 0;
}

.name a{
    display: inline;
}

p.keywords{
    text-align: left;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}

.keywords a{
    color: #fff;
    text-decoration: none;
}


.keywords a:hover{
    text-decoration: underline;
}

.notebook:hover .info-wrap{
    background-color: #2d7bae;
}

.divider{
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    margin: 30px;
    text-align: center;
    height: 2px;

}

.section-heading{
    display: inline-block;
    position: relative;
    top: -35px;
    padding: 0 10px;
    background: #fff;
}